<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    
    <title>Chat page for {{ username }}</title>
</head>
<body>
    <div class="row center-align">
        <h1>Welcome, {{ username }}</h1>
        <form method="POST">
            <div class="row center-align">
                <div class="input-field col s8 offset-s2">
                    <textarea class="materialize-textarea" placeholder="Enter message here..." cols="50" rows="4" name="message" id="message"></textarea>
                </div>
                <br>
                <button class="btn waves-effect waves-light col s4 offset-s4" type="submit" name="action">SEND
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

    {% for message in chat_messages %}
    
        <p class="center-align">({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
    
    {% endfor %}

    <script>
        let textbox = document.getElementById("message")
        
        let timer = setTimeout(function() {
            location.reload();
        }, 50000000)

        textbox.onkeydown = function(e) {

            clearTimeout(timer)

            timer = setTimeout(function() {
                location.reload();
            }, 50000000)
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>