<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>Home Page</title>
    
</head>

<body>
    <div class="container center-align">
        <div class="row">
            <h1>Welcome to the Flask chat!</h1>
            <h3>Start chatting immediately by entering a username</h3>
        </div>
    </div>
    <div class="container valign-wrapper">
        <div class="row center-align">
            <form method="POST">
                <div class="input-field">
                    <input id="username" name="username" type="text" placeholder="Username" class="validate">
                </div>
                <button class="waves-effect waves-light btn-large">Go to chat</button>                
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>